{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- title -->
    {% if title %}
    <title> ki~Tech-{{title}}</title>
    {% else %}
    <title>ki~Tech</title>
    {% endif %}

    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="{% static 'ki-tech/assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'ki-tech/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Cardo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'ki-tech/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'ki-tech/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'ki-tech/assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'ki-tech/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'ki-tech/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="{% static 'ki-tech/assets/css/main.css' %}" rel="stylesheet">

</head>




<body>
    <header id="header" class="header d-flex align-items-center sticky-top">
        <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

            <a href="{{'/'}}" class="logo d-flex align-items-center me-auto me-xl-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <!-- <i class="bi bi-laptop"></i> -->
                <h1 class="sitename">Ki~Tech</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="{{'/'}}" class="active">Home<br></a></li>
                    <li><a href="{{'/about'}}">About</a></li>
                    <li class="dropdown"><a href="#"><span>Courses</span> <i
                                class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                            <li><a href="{{'/course'}}">Web Developement</a></li>
                            <li><a href="{{'/course'}}">Software Engineering</a></li>
                        </ul>
                    </li>
                    <li><a href="{{'/service'}}">Services</a></li>
                    <li><a href="{{'/contact'}}">Contact</a></li>
                    <li><a href="#">Sign in/up</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <div class="header-social-links">
                <a href="https://www.youtube.com/@odogwukellyice" class="facebook"><i class="bi bi-youtube"></i></a>
                <a href="https://www.github.com/odogwukelly" class="instagram"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/odogwukelly" class="linkedin"><i class="bi bi-linkedin"></i></a>
                <a href="https://www.x.com/odogwu_kelly" class="twitter"><i class="bi bi-twitter-x"></i></a>



            </div>

        </div>
    </header>

    {% block content %}
    {% endblock content %}

    <footer id="footer" class="footer">

        <div class="container">
            <div class="copyright text-center ">
                <p>© <span>Copyright</span> <strong class="px-1 sitename">Ki~Tech</strong> <span>All Rights
                        Reserved</span></p>
            </div>
            <div class="social-links d-flex justify-content-center">
                <a href="https://www.youtube.com/@odogwukellyice" class="facebook"><i class="bi bi-youtube"></i></a>
                <a href="https://www.github.com/odogwukelly" class="instagram"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/odogwukelly" class="linkedin"><i class="bi bi-linkedin"></i></a>
                <a href="https://www.x.com/odogwu_kelly" class="twitter"><i class="bi bi-twitter-x"></i></a>
            </div>
            <div class="credits">

            </div>
        </div>

    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader">
        <div class="line"></div>
    </div>

    <!-- Vendor JS Files -->
    <script src="{% static 'ki-tech/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'ki-tech/assets/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'ki-tech/assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'ki-tech/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'ki-tech/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'ki-tech/assets/js/main.js' %}"></script>
</body>

</html>